transformers
regex
torch
lightning # version larger than 2.0.1 required
numpy
treelib
nltk
unidecode
# hashed packages are used by supplemental code, but not by SentenceAx
# docopt
# ipdb
# scikit-learn